<div class="container">
<button type="button" class="btn btn-outline-primary" routerLink="/line">Line Chart </button>
<button type="button" class="btn btn-outline-primary" routerLink="/pie">Pie Chart</button>
<button type="button" class="btn btn-outline-primary" routerLink="/bubble">Bubble Chart</button>
<button type="button" class="btn btn-outline-primary" routerLink="/bar">Bar Chart</button>
<button type="button" class="btn btn-outline-primary" routerLink="/doughnut">Doughnut Chart</button>
<button type="button" class="btn btn-outline-primary" routerLink="/polar">Polar Area Chart</button>
<button type="button" class="btn btn-outline-primary" routerLink="/radar">Radar Chart</button>
<button type="button" class="btn btn-outline-primary" routerLink="/scatter">Scatter Chart</button>
</div>
<router-outlet></router-outlet>